<div class="container">
  <div class="row">
    <div class="col-4">
      <%= profile_picture @account, 200 %>
    </div>
    <div class="col-8 text-left">
      <div>
        <div class="col-6">
          <%= link_to "Edit profile", edit_account_registration_path, class: "btn btn-muted btn-custom float-right" if can_edit_profile?(@account.id) %>
          <h1><%= @account.full_name %></h1>
        </div>
      </div>
      
      <div class="row profile-status">
        <div class="col-4">
          <%= @account.posts.count %>Posts
        </div>
        <div class="col-4">
          <%= @account.total_followers %>Followers
        </div>
        <div class="col-4">
          <%= @account.total_following %>Following
        </div>
      </div>

      <p><%= @account.full_name %></p>
      <%= simple_format( @account.descriptin) %>
      <p><%= link_to  @account.webstie if @account.webstie.present? %></p>
    </div>
  </div>

  <div class="row profile-posts">
    <% @posts.each do |post| %>
      <div class="col-4">
        <div class="insta-post post-square" style="background: url(<%= post.image_url %>) no-repeat center top">
          <%= link_to post_path(post) do %>
            <div class="post-stats">
              <div class="inner">
                <i class="fa fa-heart"><%= post.total_likes_count %></i>
                <i class="fa fa-comment m-l-15"><%= post.total_comments_count %></i>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
